
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="250">
<!-- change font later to Europa Grotesk Med SH -->
<svg class="text-secondary" viewBox="0 0 402 43" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.776 35.576C10.248 35.576 8.12 35.208 6.392 34.472C4.696 33.736 3.384 32.712 2.456 31.4C1.528 30.088 1 28.6 0.872 26.936L7.16 26.648C7.384 27.992 7.944 29.032 8.84 29.768C9.736 30.504 11.064 30.872 12.824 30.872C14.264 30.872 15.384 30.648 16.184 30.2C17.016 29.72 17.432 28.984 17.432 27.992C17.432 27.416 17.288 26.936 17 26.552C16.712 26.168 16.168 25.832 15.368 25.544C14.568 25.256 13.384 24.968 11.816 24.68C9.192 24.232 7.128 23.688 5.624 23.048C4.12 22.376 3.048 21.544 2.408 20.552C1.8 19.56 1.496 18.328 1.496 16.856C1.496 14.456 2.408 12.52 4.232 11.048C6.088 9.544 8.792 8.792 12.344 8.792C14.648 8.792 16.584 9.176 18.152 9.944C19.72 10.68 20.936 11.704 21.8 13.016C22.696 14.296 23.256 15.768 23.48 17.432L17.288 17.72C17.128 16.856 16.84 16.104 16.424 15.464C16.008 14.824 15.448 14.344 14.744 14.024C14.04 13.672 13.208 13.496 12.248 13.496C10.808 13.496 9.72 13.784 8.984 14.36C8.248 14.936 7.88 15.704 7.88 16.664C7.88 17.336 8.04 17.896 8.36 18.344C8.712 18.792 9.272 19.16 10.04 19.448C10.808 19.704 11.832 19.944 13.112 20.168C15.8 20.584 17.912 21.128 19.448 21.8C21.016 22.44 22.12 23.272 22.76 24.296C23.432 25.288 23.768 26.488 23.768 27.896C23.768 29.528 23.304 30.92 22.376 32.072C21.48 33.224 20.2 34.104 18.536 34.712C16.904 35.288 14.984 35.576 12.776 35.576ZM37.0111 35.576C34.4191 35.576 32.3551 34.728 30.8191 33.032C29.3151 31.304 28.5631 28.92 28.5631 25.88V9.368H34.7071V24.344C34.7071 26.488 35.0591 28.072 35.7631 29.096C36.4991 30.088 37.6031 30.584 39.0751 30.584C40.7391 30.584 42.0191 30.04 42.9151 28.952C43.8431 27.832 44.3071 26.216 44.3071 24.104V9.368H50.4511V35H44.8351L44.6911 27.944L45.4591 28.184C45.0751 30.616 44.1631 32.456 42.7231 33.704C41.2831 34.952 39.3791 35.576 37.0111 35.576ZM57.2038 42.2V9.368H63.1078L63.2518 14.84L62.6278 14.552C63.2678 12.664 64.3078 11.24 65.7478 10.28C67.2198 9.288 68.9318 8.792 70.8838 8.792C73.3158 8.792 75.3318 9.4 76.9318 10.616C78.5638 11.832 79.7798 13.448 80.5798 15.464C81.3798 17.48 81.7798 19.72 81.7798 22.184C81.7798 24.648 81.3638 26.888 80.5318 28.904C79.7318 30.92 78.5158 32.536 76.8838 33.752C75.2838 34.968 73.2678 35.576 70.8358 35.576C69.5558 35.576 68.3558 35.352 67.2358 34.904C66.1478 34.456 65.2038 33.816 64.4038 32.984C63.6358 32.152 63.0918 31.176 62.7718 30.056L63.3478 29.576V42.2H57.2038ZM69.3958 30.584C71.2518 30.584 72.7078 29.848 73.7638 28.376C74.8518 26.872 75.3958 24.808 75.3958 22.184C75.3958 19.56 74.8518 17.512 73.7638 16.04C72.7078 14.536 71.2518 13.784 69.3958 13.784C68.1478 13.784 67.0758 14.104 66.1797 14.744C65.2838 15.352 64.5798 16.28 64.0678 17.528C63.5878 18.776 63.3478 20.328 63.3478 22.184C63.3478 24.04 63.5878 25.592 64.0678 26.84C64.5478 28.088 65.2358 29.032 66.1318 29.672C67.0598 30.28 68.1478 30.584 69.3958 30.584ZM86.5475 35V9.368H92.3075L92.5475 16.472L92.0195 16.376C92.4035 13.912 93.1235 12.136 94.1795 11.048C95.2675 9.928 96.7395 9.368 98.5955 9.368H100.948V14.648H98.5475C97.2355 14.648 96.1475 14.84 95.2835 15.224C94.4195 15.608 93.7635 16.216 93.3155 17.048C92.8995 17.848 92.6915 18.904 92.6915 20.216V35H86.5475ZM111.894 35.576C109.206 35.576 107.046 34.968 105.414 33.752C103.782 32.504 102.966 30.776 102.966 28.568C102.966 26.36 103.654 24.632 105.03 23.384C106.406 22.136 108.502 21.24 111.318 20.696L119.814 19.016C119.814 17.192 119.398 15.832 118.566 14.936C117.734 14.008 116.502 13.544 114.87 13.544C113.398 13.544 112.23 13.896 111.366 14.6C110.534 15.272 109.958 16.248 109.638 17.528L103.398 17.24C103.91 14.52 105.158 12.44 107.142 11C109.126 9.528 111.702 8.792 114.87 8.792C118.518 8.792 121.27 9.72 123.126 11.576C125.014 13.4 125.958 16.024 125.958 19.448V28.76C125.958 29.432 126.07 29.896 126.294 30.152C126.55 30.408 126.918 30.536 127.398 30.536H128.214V35C128.022 35.064 127.702 35.112 127.254 35.144C126.838 35.176 126.406 35.192 125.958 35.192C124.902 35.192 123.958 35.032 123.126 34.712C122.294 34.36 121.654 33.768 121.206 32.936C120.758 32.072 120.534 30.904 120.534 29.432L121.062 29.816C120.806 30.936 120.246 31.944 119.382 32.84C118.55 33.704 117.494 34.376 116.214 34.856C114.934 35.336 113.494 35.576 111.894 35.576ZM113.142 31.112C114.518 31.112 115.702 30.84 116.694 30.296C117.686 29.752 118.454 29 118.998 28.04C119.542 27.08 119.814 25.944 119.814 24.632V23.192L113.19 24.536C111.814 24.824 110.822 25.256 110.214 25.832C109.638 26.376 109.35 27.096 109.35 27.992C109.35 28.984 109.67 29.752 110.31 30.296C110.982 30.84 111.926 31.112 113.142 31.112ZM128.747 42.2V37.448H131.291C132.187 37.448 132.875 37.24 133.355 36.824C133.867 36.44 134.123 35.704 134.123 34.616V9.368H140.267V34.808C140.267 37.432 139.675 39.32 138.491 40.472C137.307 41.624 135.275 42.2 132.395 42.2H128.747ZM134.027 5.96V0.487998H140.411V5.96H134.027ZM172.136 35.576C170.344 35.576 168.776 35.192 167.432 34.424C166.12 33.656 165.096 32.584 164.36 31.208L164.216 35H158.36V0.919998H164.504V13.016C165.208 11.832 166.216 10.84 167.528 10.04C168.84 9.208 170.376 8.792 172.136 8.792C174.344 8.792 176.248 9.352 177.848 10.472C179.48 11.56 180.728 13.112 181.592 15.128C182.488 17.112 182.936 19.464 182.936 22.184C182.936 24.904 182.488 27.272 181.592 29.288C180.728 31.272 179.48 32.824 177.848 33.944C176.248 35.032 174.344 35.576 172.136 35.576ZM170.744 30.584C172.504 30.584 173.912 29.848 174.968 28.376C176.024 26.872 176.552 24.808 176.552 22.184C176.552 19.528 176.024 17.464 174.968 15.992C173.944 14.52 172.552 13.784 170.792 13.784C169.48 13.784 168.344 14.12 167.384 14.792C166.456 15.432 165.736 16.376 165.224 17.624C164.744 18.872 164.504 20.392 164.504 22.184C164.504 23.912 164.744 25.416 165.224 26.696C165.736 27.944 166.456 28.904 167.384 29.576C168.312 30.248 169.432 30.584 170.744 30.584ZM195.519 35.576C192.831 35.576 190.671 34.968 189.039 33.752C187.407 32.504 186.591 30.776 186.591 28.568C186.591 26.36 187.279 24.632 188.655 23.384C190.031 22.136 192.127 21.24 194.943 20.696L203.439 19.016C203.439 17.192 203.023 15.832 202.191 14.936C201.359 14.008 200.127 13.544 198.495 13.544C197.023 13.544 195.855 13.896 194.991 14.6C194.159 15.272 193.583 16.248 193.263 17.528L187.023 17.24C187.535 14.52 188.783 12.44 190.767 11C192.751 9.528 195.327 8.792 198.495 8.792C202.143 8.792 204.895 9.72 206.751 11.576C208.639 13.4 209.583 16.024 209.583 19.448V28.76C209.583 29.432 209.695 29.896 209.919 30.152C210.175 30.408 210.543 30.536 211.023 30.536H211.839V35C211.647 35.064 211.327 35.112 210.879 35.144C210.463 35.176 210.031 35.192 209.583 35.192C208.527 35.192 207.583 35.032 206.751 34.712C205.919 34.36 205.279 33.768 204.831 32.936C204.383 32.072 204.159 30.904 204.159 29.432L204.687 29.816C204.431 30.936 203.871 31.944 203.007 32.84C202.175 33.704 201.119 34.376 199.839 34.856C198.559 35.336 197.119 35.576 195.519 35.576ZM196.767 31.112C198.143 31.112 199.327 30.84 200.319 30.296C201.311 29.752 202.079 29 202.623 28.04C203.167 27.08 203.439 25.944 203.439 24.632V23.192L196.815 24.536C195.439 24.824 194.447 25.256 193.839 25.832C193.263 26.376 192.975 27.096 192.975 27.992C192.975 28.984 193.295 29.752 193.935 30.296C194.607 30.84 195.551 31.112 196.767 31.112ZM226.684 35.576C224.124 35.576 221.9 35.032 220.012 33.944C218.124 32.824 216.652 31.256 215.596 29.24C214.572 27.224 214.06 24.872 214.06 22.184C214.06 19.496 214.572 17.16 215.596 15.176C216.652 13.16 218.124 11.592 220.012 10.472C221.9 9.352 224.124 8.792 226.684 8.792C228.86 8.792 230.796 9.176 232.492 9.944C234.188 10.712 235.564 11.816 236.62 13.256C237.708 14.664 238.38 16.392 238.635 18.44L232.3 18.776C232.044 17.144 231.404 15.912 230.38 15.08C229.388 14.216 228.156 13.784 226.684 13.784C224.7 13.784 223.164 14.536 222.076 16.04C220.988 17.512 220.444 19.56 220.444 22.184C220.444 24.84 220.988 26.904 222.076 28.376C223.164 29.848 224.7 30.584 226.684 30.584C228.188 30.584 229.436 30.152 230.428 29.288C231.452 28.424 232.076 27.08 232.3 25.256L238.635 25.544C238.38 27.592 237.724 29.368 236.668 30.872C235.612 32.376 234.236 33.544 232.54 34.376C230.844 35.176 228.892 35.576 226.684 35.576ZM242.923 35V0.919998H249.067V15.224H248.299C248.555 13.752 249.067 12.552 249.835 11.624C250.603 10.664 251.547 9.96 252.667 9.512C253.787 9.032 255.019 8.792 256.363 8.792C258.251 8.792 259.835 9.208 261.115 10.04C262.427 10.84 263.403 11.976 264.043 13.448C264.715 14.92 265.051 16.616 265.051 18.536V35H258.907V20.024C258.907 17.944 258.555 16.392 257.851 15.368C257.147 14.312 256.043 13.784 254.539 13.784C252.875 13.784 251.547 14.328 250.555 15.416C249.563 16.504 249.067 18.088 249.067 20.168V35H242.923ZM278.628 35.576C275.94 35.576 273.78 34.968 272.148 33.752C270.516 32.504 269.7 30.776 269.7 28.568C269.7 26.36 270.388 24.632 271.764 23.384C273.14 22.136 275.236 21.24 278.052 20.696L286.548 19.016C286.548 17.192 286.132 15.832 285.3 14.936C284.468 14.008 283.236 13.544 281.604 13.544C280.132 13.544 278.964 13.896 278.1 14.6C277.268 15.272 276.692 16.248 276.372 17.528L270.132 17.24C270.644 14.52 271.892 12.44 273.876 11C275.86 9.528 278.436 8.792 281.604 8.792C285.252 8.792 288.004 9.72 289.86 11.576C291.748 13.4 292.692 16.024 292.692 19.448V28.76C292.692 29.432 292.804 29.896 293.028 30.152C293.284 30.408 293.652 30.536 294.132 30.536H294.948V35C294.756 35.064 294.436 35.112 293.988 35.144C293.572 35.176 293.14 35.192 292.692 35.192C291.636 35.192 290.692 35.032 289.86 34.712C289.028 34.36 288.388 33.768 287.94 32.936C287.492 32.072 287.268 30.904 287.268 29.432L287.796 29.816C287.54 30.936 286.98 31.944 286.116 32.84C285.284 33.704 284.228 34.376 282.948 34.856C281.668 35.336 280.228 35.576 278.628 35.576ZM279.876 31.112C281.252 31.112 282.436 30.84 283.428 30.296C284.42 29.752 285.188 29 285.732 28.04C286.276 27.08 286.548 25.944 286.548 24.632V23.192L279.924 24.536C278.548 24.824 277.556 25.256 276.948 25.832C276.372 26.376 276.084 27.096 276.084 27.992C276.084 28.984 276.404 29.752 277.044 30.296C277.716 30.84 278.66 31.112 279.876 31.112ZM302.908 35L295.18 9.368H301.468L306.46 28.04L311.596 9.368H316.972L322.156 28.04L327.148 9.368H333.436L325.708 35H319.372L314.284 17.816L309.244 35H302.908ZM343.925 35.576C341.237 35.576 339.077 34.968 337.445 33.752C335.813 32.504 334.997 30.776 334.997 28.568C334.997 26.36 335.685 24.632 337.061 23.384C338.437 22.136 340.533 21.24 343.349 20.696L351.845 19.016C351.845 17.192 351.429 15.832 350.597 14.936C349.765 14.008 348.533 13.544 346.901 13.544C345.429 13.544 344.261 13.896 343.397 14.6C342.565 15.272 341.989 16.248 341.669 17.528L335.429 17.24C335.941 14.52 337.189 12.44 339.173 11C341.157 9.528 343.733 8.792 346.901 8.792C350.549 8.792 353.301 9.72 355.157 11.576C357.045 13.4 357.989 16.024 357.989 19.448V28.76C357.989 29.432 358.101 29.896 358.325 30.152C358.581 30.408 358.949 30.536 359.429 30.536H360.245V35C360.053 35.064 359.733 35.112 359.285 35.144C358.869 35.176 358.437 35.192 357.989 35.192C356.933 35.192 355.989 35.032 355.157 34.712C354.325 34.36 353.685 33.768 353.237 32.936C352.789 32.072 352.565 30.904 352.565 29.432L353.093 29.816C352.837 30.936 352.277 31.944 351.413 32.84C350.581 33.704 349.525 34.376 348.245 34.856C346.965 35.336 345.525 35.576 343.925 35.576ZM345.173 31.112C346.549 31.112 347.733 30.84 348.725 30.296C349.717 29.752 350.485 29 351.029 28.04C351.573 27.08 351.845 25.944 351.845 24.632V23.192L345.221 24.536C343.845 24.824 342.853 25.256 342.245 25.832C341.669 26.376 341.381 27.096 341.381 27.992C341.381 28.984 341.701 29.752 342.341 30.296C343.013 30.84 343.957 31.112 345.173 31.112ZM370.004 35C368.148 35 366.66 34.52 365.54 33.56C364.42 32.6 363.86 31.064 363.86 28.952V0.919998H370.004V28.328C370.004 28.968 370.164 29.448 370.484 29.768C370.836 30.088 371.316 30.248 371.924 30.248H373.796V35H370.004ZM385.456 35.576C382.768 35.576 380.608 34.968 378.976 33.752C377.344 32.504 376.528 30.776 376.528 28.568C376.528 26.36 377.216 24.632 378.592 23.384C379.968 22.136 382.064 21.24 384.88 20.696L393.376 19.016C393.376 17.192 392.96 15.832 392.128 14.936C391.296 14.008 390.064 13.544 388.432 13.544C386.96 13.544 385.792 13.896 384.928 14.6C384.096 15.272 383.52 16.248 383.2 17.528L376.96 17.24C377.472 14.52 378.72 12.44 380.704 11C382.688 9.528 385.264 8.792 388.432 8.792C392.08 8.792 394.832 9.72 396.688 11.576C398.576 13.4 399.52 16.024 399.52 19.448V28.76C399.52 29.432 399.632 29.896 399.856 30.152C400.112 30.408 400.48 30.536 400.96 30.536H401.776V35C401.584 35.064 401.264 35.112 400.816 35.144C400.4 35.176 399.968 35.192 399.52 35.192C398.464 35.192 397.52 35.032 396.688 34.712C395.856 34.36 395.216 33.768 394.768 32.936C394.32 32.072 394.096 30.904 394.096 29.432L394.624 29.816C394.368 30.936 393.808 31.944 392.944 32.84C392.112 33.704 391.056 34.376 389.776 34.856C388.496 35.336 387.056 35.576 385.456 35.576ZM386.704 31.112C388.08 31.112 389.264 30.84 390.256 30.296C391.248 29.752 392.016 29 392.56 28.04C393.104 27.08 393.376 25.944 393.376 24.632V23.192L386.752 24.536C385.376 24.824 384.384 25.256 383.776 25.832C383.2 26.376 382.912 27.096 382.912 27.992C382.912 28.984 383.232 29.752 383.872 30.296C384.544 30.84 385.488 31.112 386.704 31.112Z" fill="#161614"/>
</svg>


  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="250">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="250">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <a href="#salesforce-experience" class="hover:text-accent transition-colors">full-stack engineering</a>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-medium">
            <a href="#google-experience" class="hover:text-accent transition-colors">ai systems</a>
          </span>
          <span class="h-auto border-secondary border"></span>  
          <a
            href="mailto:sbachawal@umass.edu"
            class="text-secondary text-xs underline font-semibold decoration-accent transition-colors hover:text-accent"
            >open to SWE / AI / infra roles</a
          >
        </div>
        <div>
          <ul class="lg:items-center flex justify-between w-full gap-3 relative text-xs">
            <li>
              <a
                href="https://github.com/suprajb"
                class="text-secondary transition-colors hover:text-accent hover:underline decoration-accent underline-offset-4"
                >GitHub</a
              >
            </li><li>
              <a
                href="https://linkedin.com/in/suprajbachawala"
                class="text-secondary transition-colors hover:text-accent hover:underline decoration-accent underline-offset-4"
                >LinkedIn</a
              >
            </li><li>
              <a
                href="https://x.com/suprxj"
                class="text-secondary transition-colors hover:text-accent hover:underline decoration-accent underline-offset-4"
                >X</a
              >
            </li><li>
              <a
                href="mailto:sbachawala@umass.edu"
                class="text-secondary transition-colors hover:text-accent hover:underline decoration-accent underline-offset-4"
                >Email</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="400">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="600">
      </div>
      <!-- <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="700">
      </div> -->
      <!-- <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
       -->
    </div>
  </div>
</section>
