<section class="bg-primary flex items-center justify-center text-center py-32 px-6">
  <div class="max-w-3xl text-secondary space-y-4">
    <p class="text-3xl md:text-5xl">
    welcome to my corner of the internet. 
  this site’s a mix of projects, notes, and other things I find worth keeping around.
    </p>
  </div>
</section>
